{% extends 'layout1.html' %}
{% block content %}

<form action="{{ url_for("home")}}" method="post">
    <label for="Name">Player Name</label><br>
    <textarea id="name" name="name1" rows="1" cols="50"></textarea>
    <br>
    <input type=file name=file>
    <input type=submit value=Upload>
    <button type="submit">Enter</button>
</form>>
    <body>
      <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
   </body>

{% endblock %}
